<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Place Order System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Place Order System</h1>
    <hr>
    <h2>Save Item</h2>
    <form action="#" th:action="@{/save}" th:object="${order}">
        <div class="form-group">
            <input type="text" th:field="*{name}" placeholder="exp: book" class="form-control mb-4 col-4">
            <input type="text" th:field="*{type}" placeholder="exp: stationary" class="form-control mb-4 col-4">
            <input type="text" th:field="*{price}" placeholder="exp: 1.00" class="form-control mb-4 col-4">
            <input type="text" th:field="*{quantity}" placeholder="exp: 30" class="form-control mb-4 col-4">
        </div>
        <button type="submit" class="btn btn-primary col-2">Save</button>
    </form>
    <a href="#" th:href="@{/}">Back to Item List</a>
</div>
</body>
</html>
