<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Order Cart</title>
    <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmY81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">
</head>
<body>
    <div class="container my-2" align="center">
        <h3>Order Cart</h3>
        <a th:href="@{/add}" class="btn btn-primary btn-sm mb-3">Add New Item</a>
        <table style="width:80%" border="1" 
            class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${allOrderList}">
                <td th:text="${order.name}"></td>
                <td th:text="${order.type}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.quantity}"></td>
                <td th:text="${order.total}"></td>
                <td><a th:href="@{/updateform/{id}(id=${order.id})}" class="btn btn-primary">Update</a></td>
                <td><a th:href="@{/delete/{id}(id=${order.id})}" class="btn btn-primary">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
